<div class="user-page">
  <%= render "shared/details", user: @user %>
    <div class="user-bio">
     <strong class="bio">Bio: </strong> <br>
     <p><%= @user.bio %></p>
    </div>
    <div class="user-posts">
    <% @user.most_recent_posts.each do |post| %>
        <%= link_to user_post_path(user_id:@user.id, id: post.id) do%>
      <%= render "shared/posts_details", post: post %>
        <%end%>
    <%end%>
    </div>
    <button><%= link_to 'See all posts', user_posts_path(@user)%></button>
</div>
